<h1>Designate a User as Admin</h1>

<div class="form">
  <%= form_for(:user, url: admin_dashboard_index_path) do |f| %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <%= f.submit "Create Admin", method: :create %>
  <% end %>
</div>