<h1 class="page-type-title"><%= @type.name %> Creatures</h1>

<% @creatures.each do |creature| %>
<div class="container col-md-4 home-creature-wrapper">
    <%= render partial: "shared/creatures_img", locals: { creature: creature } %>
    <%= render partial: "shared/creatures_details", locals: { creature: creature } %>
  </div>
</div>
<% end %>

