

<h1>Welcome to Alicorn Adoption!</h1>

<div class="main">
  <% @creatures.each do |creature| %>
    <%= image_tag("#{creature.name}.png", width: 400) %>
    <%= link_to creature.name, creature_path(creature) %>
  <% end %>
</div>