<div class="thumbnail col-md-12">
<div class="row">
  <div class="creature-show col-md-6">  
    <h2><%= @creature.name %></h2>
    <% if @creature.retired %>
      <p>This creature can no longer be sponsored!</p>
    <% else %>
      <h4><%=button_to "Sponsor me for #{number_to_currency(@creature.price)}!", carts_path(creature_id: @creature.id), class: "btn btn-creature" %></h4>
    <% end %>
    <p>
      Lorem Ipsum er rett og slett dummytekst fra og for trykkeindustrien. Lorem Ipsum har vært bransjens standard for dummytekst helt siden 1500-tallet, da en ukjent boktrykker stokket en mengde bokstaver for å lage et prøveeksemplar av en bok. Lorem Ipsum har tålt tidens tann usedvanlig godt, og har i tillegg til å bestå gjennom fem århundrer også tålt spranget over til elektronisk typografi uten vesentlige endringer. Lorem Ipsum ble gjort allment kjent i 1960-årene ved lanseringen av Letraset-ark med avsnitt fra Lorem Ipsum, og senere med sideombrekkingsprogrammet Aldus PageMaker som tok i bruk nettopp Lorem Ipsum for dummytekst.
    </p>
  </div>
  <div class="col-md-4">
    <%= image_tag("#{@creature.name}.png", width: 400) %>
  </div>
</div>
</div>

