<% @creatures.each do |creature| %>
    <div class="container col-md-4 home-creature-wrapper" data-name="<%= @creature.name %>">
      <div class="col-md-4 home-creature-img media">
        <% if @creature.image_path %>    
          <img class="media img-index" src="<%="#{@creature.image_path}" %>" alt="...">
        <% else %>
          <img class="media img-index" src="<%="assets/#{@creature.name}.png" %>" alt="...">
        <% end %>
      </div>
    </div>
  <% end %>
  
  
