  <ul class="nav nav-tabs" role="navigation">
    <li id="user-info" class="user-tab"><%= link_to "Personal Information", dashboard_path %></li>
    <li id="user-orders" class="user-tab"><%= link_to "My Orders", orders_path %></li>
  </ul>
