<em><h2 class="page-subtitle">Manage Creatures</h2></em>

<%= render "shared/creatures" %>
<div class="container col-md-4 home-creature-wrapper">
  <div class="col-md-4 home-creature-img media">
    <em><%= link_to "Edit #{@creature.name}", edit_admin_creature_path(@creature), class: "home-creature-name" %></em></p>    
  </div>
</div>
