$primary-color: #43413d;

//*** HOMEPAGE GRID ***/

.main {
  margin-top: 45px;
}
// 
.home-creature-wrapper {
  max-height: 1000px;
  margin-bottom: 50px;
}

.img-index {
  height: 250px;
  width: 300px;
  border-bottom: 1px solid grey;
}

.home-creature-img {
  height: 400px;
  width: 250px;
  // border-bottom: 1px solid grey;
}


.img-index {
  max-width: 100%;
}

.home-creature-name {
  color: $primary-color;
}

.btn-creature {
  background-color: transparent;
  color:  #3c948b;
  border: 1px solid #3c948b;
}

.form, .flash {
  margin-top: 5%;
}