@import "variables";

//*** HOMEPAGE GRID ***/

.main {
  margin-top: 60px;
  padding-left: 140px;
}

.home-creature-wrapper {
  padding-right: 50px;
  margin-bottom: 50px;
  max-height: 1000px;
}

.img-index {
  height: 250px;
  width: 300px;
  border-bottom: 1px solid $grey-color;
  max-width: 100%;
}

.home-creature-img {
  height: 400px;
  width: 250px;
}

.home-creature-name {
  color: $primary-color;
}

.btn-creature {
  background-color: transparent;
  border: 1px solid $btn-color;
  color: $btn-color;
}

.btn-creature:hover {
  background-color: $btn-color;
  border: 1px solid $btn-color;
  color: $btn-hover;
}

.form, .flash {
  margin-top: 5%;
}

//*** SHOW PAGE ***/

.creature-show {
  padding-left: 40px;
}