$primary-color: #43413d;
$btn-color: #3c948b;
$grey-color: #808080;

//*** HOMEPAGE GRID ***/

.main {
  margin-top: 45px;
}

.home-creature-wrapper {
  margin-bottom: 50px;
  max-height: 1000px;
}

.img-index {
  height: 250px;
  width: 300px;
  border-bottom: 1px solid $grey-color;
  max-width: 100%;
}

.home-creature-img {
  height: 400px;
  width: 250px;
}

.home-creature-name {
  color: $primary-color;
}

.btn-creature {
  background-color: transparent;
  border: 1px solid $btn-color;
  color: $btn-color;
}

.form, .flash {
  margin-top: 5%;
}