@import "variables";

body {
  color: $primary-color;
  font-family: $font-stack;
}

h1 {
  color: $title-color;
}

.home-link a {
  color: $top-nav-color;
  text-decoration: none;
}

.page-title {
  margin-top: -20px;
  margin-bottom: -10px;
  text-align: center;
}

.page-subtitle {
  margin-bottom: 80px;
  text-align: center;
}

.page-edit {
  margin-right: 30px;
  text-align: right;
  margin-top: -20px;
}

.flash-sucess {
  margin-top: -10px;
  background-color: green;
}

.flash-failure {
  margin-top: -10px;
  background-color: red;
}

.flash-notice {
  margin-top: -10px;
  background-color: green;
}

