$font-stack: 'Playfair Display SC', serif;
$primary-color: #43413d;
$sidebar-color: #000;
$top-nav-color: #fff;
$title-color: #43413d;
$link-color: #d0006F;
$link-hover-color: #8ba870;

body {
  color: $primary-color;
  font-family: $font-stack;
}

h1 {
  color: $title-color;
}

//*** SIDEBAR NAV ***/

.page-title {
  margin-bottom: 50px;
  text-align: center;
}

.sidebar-nav {
  background-image: url("sidebar.jpg");
  height: 100%;
  overflow: hidden;
  padding-top: 100px;
  position: fixed;
  width: 183px;
  z-index: 2;
  }
  
//*** TOP NAV ***/

.site-title {
  text-align: center;
}

.top-nav.navbar.navbar-default.navbar-fixed-top {
  background-color: $top-nav-color;
  vertical-align: top;
  z-index: 1;
}

.top-nav-list {
  display: inline-block;
  list-style: none;
  text-align: center;
}

.top-nav-list > li > a {
  color: $link-color;
  text-decoration: none;
}

.top-nav-list > li > a:hover {
  color: $link-hover-color;
}

.main {
  margin-top: 45px;
}