$font-stack: 'Playfair Display SC', serif;
$primary-color: #43413d;
$secondary-color: #3c948b;
$btn-color: #3c948b;
$pink-color: #d0006f;
$grey-color: #808080;
$btn-text-color: #fff;
$sidebar-color: #000;
$top-nav-color: #fff;
$title-color: #43413d;
$sidebar-text-color: #fff;
$type-color: #f1fafa;
$type-text-color: #103051;
$btn-hover: #FFFAFA;
